page-manage-survey {
    .bar-button-default-ios,
    .bar-button-default.bar-button-ios-default,
    .bar-button-clear-ios-default {
        margin: 0;
    }
    .back-button.show-back-button {
        color: white;
    }
    .addAnswer {
        font-size: 20px;
        margin-top: 10px;
        color: color($colors, green1);
        background-color: white;
        float: right;
    }
    .iconPlus{
        padding-left: 2px;
        padding-top: 2px;
    }
}