
*{
    font-family: segoe ui light;
}
.list-ios > .item-block{
    height: 5px;
    background-color: rgba(255, 255, 255, 0.233);
    margin-bottom: 1.5px;
    border-radius: 10px; 
}

page-login {
    .tile{
        margin-top: 0px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 70px;
        padding-bottom: 30px;
        color: white;
        
    }

    .icon{
        font-size: 100px;
        margin-bottom: 0.2em;
    }
    [col-12]{
        text-align: center;
    }
    .content{

        background-color: rgba(135, 207, 235, 0);
        z-index: 2;
        background-repeat:no-repeat;
        opacity: 0.96; 
    }
    .content-back{
        background-image: url('/assets/imgs/sback1.jpg');
        z-index:-1; 
    }
    .content-login{
        z-index: 1;

    }
    .scroll-content{
        overflow: hidden;
        // padding: 0 !important;
        padding: 5px;
    }
    .back-button.show-back-button{
        display: none;
    }
    // .content{
    //     border-bottom:2px solid #1e272e ;
    //   }
    .icon-user{
        font-size: 40px;
        float: left;

    }
    .icon-pass{
        font-size: 40px;
        float: left; 
    }
    .fb{
        font-size: 40px;
        padding: 15px;
        margin-top: 0;
        color: white;
    }
    .gg{
        font-size: 40px;
        color: white;
    }
}
