* {
    font-family: segoe ui light;
}

.list-ios>.item-block:last-child {
    height: 5px;
    background-color: color($colors, light); // margin-bottom: 1.5px;
    border-bottom: 0;
}

page-login {
    .icon-ionic {
        margin-top: 30px;
    }
    .item-ios {
        margin-bottom: 3px;
        border-radius: 5px;
        border-bottom: none;
        width: 78%;
        margin-left: 10%;
    }
    .tile {
        margin-top: 0px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 70px;
        padding-bottom: 30px;
        color: color($colors, green1);
    } // .button-inner{
    //     color: white;
    // }
    // .btn{
    //    border-radius: 5px;
    // }
    // ion-input{
    //   border-radius: 50%;
    // }
    .submit-btn {
        border-radius: 5px;
        width: 76%;
        margin-left: 12%;
        background-color: color($colors, green1);
        margin-top: 20px;
    }
    @keyframes icon {
        from {
            transform: rotateX(90deg);
            transition: 0.4s
        }
        to {
            transform: rotateX(0);
            transition: 0.4s
        }
    }
    .icon-logo {
        animation: icon 2s forwards; // transform: rotatex(90deg);
        // transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
        font-size: 100px;
        margin-bottom: 0.2em;
        text-align: center;
    }
    [col-12] {
        text-align: center;
    } // .content{
    //     background-color: rgba(135, 207, 235, 0);
    //     z-index: 2;
    //     background-repeat:no-repeat;
    //     opacity: 0.96; 
    // }
    .content-back {
        // background-image: url('/assets/imgs/sback1.jpg');
        background-color: color($colors, light);
        z-index: -1;
        background-size: cover;
    }
    .content-login {
        z-index: 1;
    }
    .scroll-content {
        overflow: hidden; // padding: 0 !important;
        padding: 5px;
    }
    .back-button.show-back-button {
        display: none;
    }
    .icon-user {
        font-size: 40px;
        float: left;
    }
    .icon-pass {
        font-size: 30px;
        float: left;
    }
    .fb {
        font-size: 40px;
        padding: 15px;
        margin-top: 0;
        color: color($colors, fb);
    }
    .gg {
        font-size: 40px;
        color: color($colors, gg);
    }
    .content-ios {
        text-align: center;
        background-image: linear-gradient(45deg, #eee 25%, white 25%, white 75%, #eee 75%, #eee 100%);
    }
    img.avatar {
        position: absolute;
        width: 100%;
        height: 100px;
        border-radius: 50%;
        top: 60%;
        left: 0;
        z-index: 2;
        margin-top: 20px;
        margin-left: 0;
    }
    .forgotPass {
        color: color($colors, danger);
    }
    .signUp {
        color: color($colors, danger);
    }
    .icon-logo {
        width: 30%;
        margin-top: 30px;
        margin-left: 40px;
        margin-bottom: 30px;
    }
    .person {
        margin-top: 20px;
    }
    .pass {}
    .button-ios.activated {
        background-color: color($colors, secondary);
    }
    .button-ios.signUp.activated {
        background-color: color($colors, trans);
    }
    .button-ios.forgotPass.activated {
        background-color: color($colors, trans);
    }
}