page-result {
    .bar-button-default-ios,
    .bar-button-default.bar-button-ios-default,
    .bar-button-clear-ios-default {
        color: white;
    }
    .card-content-ios {
        margin-top: 10%;
    }
    .card-ios {
        font-size: 2rem;
    }
    .question {
        margin-left: 20px;
        padding-bottom: 20px;
    }
    .list-ios>.item-block {
        padding-left: 0px;
    }
    .item-ios.item-block .item-inner {
        padding-right: 0px;
        border-bottom: none;
    }
    .answer{
        margin-left: 40%;
        font-size: 20px;
    }
}