page-result {
    .bar-button-default-ios,
    .bar-button-default.bar-button-ios-default,
    .bar-button-clear-ios-default {
        color: white;
    }
    .card-content-ios {
        margin-top: 10%;
    }
    .item-ios {
        padding-top: 10px;
    }
    .card-ios{
        font-size: 2rem;
    }
}