page-participant-survey {

 @keyframes itm {
  from{transform: translate(-100px)}
    to{transform:translate(0)}
}
.items{
        animation: itm 0.6s forwards;
    }
.list-ios .item-block .item-inner{
  border: 0;
}
.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{
  border: 0;
}
.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default{
    color: black;
}
}

