page-property {
.button{
    font-size: 20px;
}

ion-item-options .button:last-child{
    padding-right: 0;
    margin: 0;
}
ion-buttons{
    margin: 0;
}
.btn-d{
    font-size: 18px;
}
button-inner{
    font-weight: bold;
}
.icon{
    background-image: "";
}



}




