page-app {
    ion-card.card-wallpaper {
        width: auto;
        height: 200px; // background: linear-gradient(to right, rgb(146, 232, 236), rgb(54, 241, 136));
        background: rgba(255, 255, 255, 0);
    }
    ion-card .info {
        position: relative;
        width: 150px;
        height: 180px;
    }
    img.avatar {
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        top: 7%;
        left: 5%;
        z-index: 2;
    }
    .userinfo {
        position: absolute;
        bottom: 6%;
        left: 8%;
    }
    .ioncol-list {
        font-size: 20px;
        color: gray;
    }
    .ioncol-icon {
        font-size: 26px;
        margin-right: 2em;
        width: 30px;
    }
    .btnList {
        background: color($colors, light);
        border: none;
    }
    .ioncol-list:hover .assets {
        color: black;
        font-weight: bold;
    }
    .assets {
        color: color($colors, dark2);
    }
    .back-button.show-back-button {
        transition: 1s;
    }
    ion-row.ionrow-list {
        border-bottom: 1px gray solid;
    }
    .toolbar-ios ion-title {
        background-color: color($colors, green1);
    }
    .toolbar-title-ios {
        color: color($colors, light);
        font-size: 2.2rem;
    }
}